// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
// 		url('../../fonts/Montserrat-Regular.woff') format('woff'),
// 		url('../../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// Font weights

// Font sizes

body,
html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	font-family: 'Montserrat';
}
// Root Font Sizes
$h1_fs: 48px;
$h2_fs: 36px;
$h3_fs: 24px;
$h4_fs: 18px;
$h5_fs: 16px;
$p_fs: 16px;

// Root Line Heights
$h1_lh: 1.05;
$h2_lh: 1.25;
$h3_lh: 1.25;
$h4_lh: 1.25;
$h5_lh: 1.25;
$p_lh: 1.375;

h1 {
	font-size: 2em;
	line-height: 1.25;
	@include breakpoint(up, md) {
		font-size: 2.5em;
		line-height: 1.125;
	}
	@include breakpoint(up, lg) {
		font-size: $h1_fs;
		line-height: $h1_lh;
	}
}

h2 {
	font-size: 30px;
	line-height: 37px;
	@include breakpoint(up,md) {
		font-size: 2em;
		line-height: 1.125;
	}
	@include breakpoint(up, lg) {
		font-size: $h2_fs;
		line-height: $h2_lh;
	}
}

h3 {
	font-size: 25px;
	line-height: 30px;
	@include breakpoint(up,md) {
		font-size: 1.5em;
		line-height: 1.25;
	}
	@include breakpoint(up, lg) {
		font-size: $h3_fs;
		line-height: $h3_lh;
	}
}

h4 {
	font-size: 20px;
	line-height: 24px;
	@include breakpoint(up,md) {
		font-size: 1.125em;
		line-height: 1.25;
	}
	@include breakpoint(up, lg) {
		font-size: $h4_fs;
		line-height: $h4_lh;
	}
}

h5 {
	font-size: 16px;
	line-height: 19px;
	@include breakpoint(up,md) {
		font-size: 1.5em;
		line-height: 1.22;
	}
	@include breakpoint(up, lg) {
		font-size: $h5_fs;
		line-height: $h5_lh;
	}
}

p {
	font-size: 15px;
	line-height: 24px;
	@include breakpoint(up,md) {
		font-size: 1em;
	}
	@include breakpoint(up, lg) {
		font-size: $p_fs;
		line-height: $p_lh;
	}
}
